<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <appSettings>
    <add key="exchangeDomainUser" value="test@xyz.com" /><!-- Email address of Office 365-->
    <add key="exchangeDomainUserPassword" value="password" /><!-- App key Of office 365 email address-->
    <add key="exchangeUrl" value="https://outlook.office365.com/EWS/Exchange.asmx" />
    <add key="exchangeMailSubject" value="Activity File" />
  </appSettings>

</configuration>

